<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.productsDao">
    <update id="reduceNumber">
        update products
        set number = number - 1
        where oneShot_id = #{oneShotId} and start_time <![CDATA[ <= ]]> #{killTime}
        and end_time >= #{killTime}
        and number > 0;
    </update>

    <select id="queryById" parameterType="long" resultType="products">
        select *
        from products
        where oneShot_id = #{oneShotId};
    </select>

    <select id="queryAll" resultType="products">
        select *
        from products
        order by create_time desc
        limit #{offset},#{limit};
    </select>

</mapper>